<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjuhc.houduan.mapper.AdministratorRegisterMapper">
	<insert id="insertId" parameterType="edu.swjuhc.houduan.model.Administrator">
	insert into Administrator
	(id,username,password,name,sex,number,age)
	values
	(#{id},#{username},#{password},#{name},#{sex},#{number},#{age})
	</insert>
	<select id="SelectAdministratorById" parameterType="java.lang.Integer" resultType="edu.swjuhc.houduan.model.Administrator">
	select*from Administrator
	where
	id=#{id};
	</select>
</mapper>